version: 2
updates:
- package-ecosystem: composer
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
  open-pull-requests-limit: 10
  ignore:
    #only allow patch updates for locale-data - this has to be updated manually due to codegen
    - dependency-name: pocketmine/locale-data
      update-types:
        - "version-update:semver-major"
        - "version-update:semver-minor"
  groups:
    production-patch-updates:
      dependency-type: production
      patterns:
        - "*"
      update-types:
        - "patch"
    development-patch-updates:
      dependency-type: development
      patterns:
        - "*"
      update-types:
        - "patch"
    phpstan:
      patterns:
        - "phpstan/*"

- package-ecosystem: gitsubmodule
  directory: "/"
  schedule:
    interval: daily

- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: weekly
