[submodule "resources/locale"]
	path = resources/locale
	url = https://github.com/pmmp/Language.git
[submodule "tests/preprocessor"]
	path = build/preprocessor
	url = https://github.com/pmmp/preprocessor.git
[submodule "tests/plugins/DevTools"]
	path = tests/plugins/DevTools
	url = https://github.com/pmmp/DevTools.git
[submodule "build/php"]
	path = build/php
	url = https://github.com/pmmp/php-build-scripts.git
[submodule "resources/vanilla"]
	path = resources/vanilla
	url = https://github.com/pmmp/BedrockData.git
