players/*
worlds/*
world_conversion_backups/*
backups/*
plugin_data/*
plugins/*
bin*/*
timings/*
crashdumps/*
*.log
*.txt
*.phar
server.properties
/pocketmine.yml
/plugin_list.yml
memory_dumps/*
resource_packs/
server.lock
/phpstan.neon

# Common IDEs
.idea/*
!.idea/codeStyles/
!.idea/fileTemplates/
nbproject/*

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
/nbproject/private/

# Sphinx-doc
/docs/build/
!/docs/requirements.txt

# Composer
vendor/*

# Travis files
test_data/*

# Doxygen
Documentation/*

# PHPUnit
/.phpunit.result.cache

# php-cs-fixer
/.php_cs.cache
/.php-cs-fixer.cache
