[submodule "tests/plugins/DevTools"]
	path = tests/plugins/DevTools
	url = https://github.com/pmmp/DevTools.git
[submodule "build/php"]
	path = build/php
	url = https://github.com/NetherGamesMC/php-build-scripts.git