

parameters:
	level: 1
	autoload_files:
		- tests/phpstan/bootstrap.php
		- src/PocketMine.php
	paths:
		- src
	reportUnmatchedIgnoredErrors: false #no other way to silence platform-specific non-warnings
	ignoreErrors:
		-
			message: "#^Function parallel\\\\bootstrap not found\\.$#"
			count: 1
			path: src/PocketMine.php

		-
			message: "#^pocketmine\\\\Player\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\entity\\\\Human\\.$#"
			path: src/Player.php

		-
			message: "#^pocketmine\\\\block\\\\[A-Za-z\\d]+\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\block\\\\Block\\.$#"
			path: src/block

		-
			message: "#^pocketmine\\\\block\\\\Block\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\level\\\\Position\\.$#"
			count: 1
			path: src/block/Block.php

		-
			message: "#^pocketmine\\\\inventory\\\\DoubleChestInventory\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\inventory\\\\ChestInventory\\.$#"
			count: 1
			path: src/inventory/DoubleChestInventory.php

		-
			message: "#^pocketmine\\\\inventory\\\\EnderChestInventory\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\inventory\\\\ChestInventory\\.$#"
			count: 1
			path: src/inventory/EnderChestInventory.php

		-
			message: "#^pocketmine\\\\item\\\\GoldenAppleEnchanted\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\item\\\\GoldenApple\\.$#"
			count: 1
			path: src/item/GoldenAppleEnchanted.php

		-
			message: "#^pocketmine\\\\item\\\\WrittenBook\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\item\\\\WritableBook\\.$#"
			count: 1
			path: src/item/WrittenBook.php

		-
			message: "#^Constructor of class pocketmine\\\\level\\\\generator\\\\hell\\\\Nether has an unused parameter \\$options\\.$#"
			count: 1
			path: src/level/generator/hell/Nether.php

		-
			message: "#^Constructor of class pocketmine\\\\level\\\\generator\\\\normal\\\\Normal has an unused parameter \\$options\\.$#"
			count: 1
			path: src/level/generator/normal/Normal.php

		-
			message: "#^Used constant pocketmine\\\\RESOURCE_PATH not found\\.$#"
			count: 1
			path: src/network/mcpe/protocol/StartGamePacket.php

		-
			message: "#^Instantiated class COM not found\\.$#"
			count: 2
			path: src/network/upnp/UPnP.php
			comment: "only available on Windows"

		-
			message: "#^Caught class com_exception not found\\.$#"
			count: 2
			path: src/network/upnp/UPnP.php
			comment: "only available on Windows"

		-
			message: "#^Constructor of class pocketmine\\\\scheduler\\\\TaskScheduler has an unused parameter \\$logger\\.$#"
			count: 1
			path: src/scheduler/TaskScheduler.php

		-
			message: "#^Variable \\$GLOBALS in isset\\(\\) always exists and is not nullable\\.$#"
			path: src/MemoryManager.php
			comment: "this isn't defined on threads (thanks pthreads)"

		-
			message: "#^Constant pocketmine\\\\COMPOSER_AUTOLOADER_PATH not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\DATA not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\GIT_COMMIT not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\PATH not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\PLUGIN_PATH not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\RESOURCE_PATH not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\START_TIME not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\VERSION not found\\.$#"
			path: src
		-
			message: "#^Used constant LEVELDB_ZLIB_RAW_COMPRESSION not found\\.$#"
			path: src/level/format/io/leveldb/LevelDB.php
			comment: "explicitly checked"
		-
			message: "#^Constant LEVELDB_ZLIB_RAW_COMPRESSION not found\\.$#"
			path: src/level/format/io/leveldb/LevelDB.php
			comment: "explicitly checked"
		-
			message: "#^Instantiated class LevelDB not found\\.$#"
			path: src/level/format/io/leveldb/LevelDB.php
			comment: "leveldb extension currently optional"
		-
			message: "#^Return typehint of method pocketmine\\\\level\\\\format\\\\io\\\\leveldb\\\\LevelDB\\:\\:createDB\\(\\) has invalid type LevelDB\\.$#"
			path: src/level/format/io/leveldb/LevelDB.php
		-
			message: "#^Return typehint of method pocketmine\\\\level\\\\format\\\\io\\\\leveldb\\\\LevelDB\\:\\:getDatabase\\(\\) has invalid type LevelDB\\.$#"
			path: src/level/format/io/leveldb/LevelDB.php
