includes:
	- tests/phpstan/configs/actual-problems.neon
	- tests/phpstan/configs/check-explicit-mixed-baseline.neon
	- tests/phpstan/configs/gc-hacks.neon
	- tests/phpstan/configs/l7-baseline.neon
	- tests/phpstan/configs/l8-baseline.neon
	- tests/phpstan/configs/php-bugs.neon
	- tests/phpstan/configs/php74-compat.neon
	- tests/phpstan/configs/phpstan-bugs.neon
	- tests/phpstan/configs/phpunit-wiring-tests.neon
	- tests/phpstan/configs/pthreads-bugs.neon
	- tests/phpstan/configs/runtime-type-checks.neon
	- tests/phpstan/configs/spl-fixed-array-sucks.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 8
	checkExplicitMixed: true
	checkMissingCallableSignature: true
	bootstrapFiles:
		- tests/phpstan/bootstrap.php
	scanDirectories:
		- build
		- tests/plugins/TesterPlugin
	scanFiles:
		- src/pocketmine/PocketMine.php
	paths:
		- build
		- src
		- tests/phpunit
		- tests/plugins/TesterPlugin
	excludePaths:
		analyseAndScan:
			- build/preprocessor
	dynamicConstantNames:
		- pocketmine\DEBUG
		- pocketmine\IS_DEVELOPMENT_BUILD
	stubFiles:
		- tests/phpstan/stubs/chunkutils.stub
		- tests/phpstan/stubs/leveldb.stub
		- tests/phpstan/stubs/pthreads.stub
	reportUnmatchedIgnoredErrors: false #no other way to silence platform-specific non-warnings
	staticReflectionClassNamePatterns:
		- "#^COM$#"
	typeAliases:
		#variadics don't work for this - mixed probably shouldn't work either, but for now it does
		#what we actually need is something that accepts an infinite number of parameters, but in the absence of that,
		#we'll just fill it with 10 - it's very unlikely to encounter a callable with 10 parameters anyway.
		anyCallable: 'callable(mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed) : mixed'
		anyClosure: '\Closure(mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed, mixed) : mixed'
		PhpSocket: '\Socket'
		PhpCurlHandle: '\CurlHandle'
