

parameters:
	level: 1
	autoload_files:
		- tests/phpstan/bootstrap.php
		- src/PocketMine.php
	paths:
		- src
	reportUnmatchedIgnoredErrors: false #no other way to silence platform-specific non-warnings
	ignoreErrors:
		-
			message: "#^Function parallel\\\\bootstrap not found\\.$#"
			count: 1
			path: src/PocketMine.php

		-
			message: "#^pocketmine\\\\inventory\\\\DoubleChestInventory\\:\\:__construct\\(\\) does not call parent constructor from pocketmine\\\\inventory\\\\ChestInventory\\.$#"
			count: 1
			path: src/inventory/DoubleChestInventory.php

		-
			message: "#^Used constant pocketmine\\\\RESOURCE_PATH not found\\.$#"
			count: 1
			path: src/network/mcpe/protocol/StartGamePacket.php

		-
			message: "#^Instantiated class COM not found\\.$#"
			count: 1
			path: src/network/upnp/UPnP.php
			comment: "only available on Windows"

		-
			message: "#^Caught class com_exception not found\\.$#"
			count: 2
			path: src/network/upnp/UPnP.php
			comment: "only available on Windows"

		-
			message: "#^Variable \\$GLOBALS in isset\\(\\) always exists and is not nullable\\.$#"
			path: src/MemoryManager.php
			comment: "this isn't defined on threads (thanks pthreads)"

		-
			message: "#^Constant pocketmine\\\\COMPOSER_AUTOLOADER_PATH not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\GIT_COMMIT not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\PATH not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\PLUGIN_PATH not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\RESOURCE_PATH not found\\.$#"
			path: src

		-
			message: "#^Constant pocketmine\\\\VERSION not found\\.$#"
			path: src
