parameters:
	ignoreErrors:
		-
			message: "#^Property pocketmine\\\\event\\\\entity\\\\EntityShootBowEvent\\:\\:\\$projectile \\(pocketmine\\\\entity\\\\projectile\\\\Projectile\\) does not accept pocketmine\\\\entity\\\\Entity\\.$#"
			count: 1
			path: ../../../src/event/entity/EntityShootBowEvent.php

