parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset \\(float\\|int\\) on mixed\\.$#"
			count: 1
			path: ../../../src/CrashDump.php

		-
			message: "#^Cannot access offset string on mixed\\.$#"
			count: 1
			path: ../../../src/CrashDump.php

		-
			message: "#^Parameter \\#1 \\$path of static method pocketmine\\\\utils\\\\Filesystem\\:\\:cleanPath\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/CrashDump.php

		-
			message: "#^Cannot access offset 'type' on mixed\\.$#"
			count: 1
			path: ../../../src/Server.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: ../../../src/Server.php

		-
			message: "#^Parameter \\#1 \\$array of static method pocketmine\\\\plugin\\\\PluginGraylist\\:\\:fromArray\\(\\) expects array, mixed given\\.$#"
			count: 1
			path: ../../../src/Server.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: ../../../src/ServerConfigGroup.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 2
			path: ../../../src/ServerConfigGroup.php

		-
			message: "#^Cannot access offset 'git' on mixed\\.$#"
			count: 2
			path: ../../../src/VersionInfo.php

		-
			message: "#^Argument of an invalid type mixed supplied for foreach, only iterables are supported\\.$#"
			count: 1
			path: ../../../src/inventory/CreativeInventory.php

		-
			message: "#^Parameter \\#1 \\$result of method pocketmine\\\\network\\\\mcpe\\\\compression\\\\CompressBatchPromise\\:\\:resolve\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/ChunkRequestTask.php

		-
			message: "#^Parameter \\#1 \\$result of method pocketmine\\\\network\\\\mcpe\\\\compression\\\\CompressBatchPromise\\:\\:resolve\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/compression/CompressBatchTask.php

		-
			message: "#^Method pocketmine\\\\network\\\\mcpe\\\\raklib\\\\PthreadsChannelReader\\:\\:read\\(\\) should return string\\|null but returns mixed\\.$#"
			count: 1
			path: ../../../src/network/mcpe/raklib/PthreadsChannelReader.php

		-
			message: "#^Parameter \\#1 \\$plugins of class pocketmine\\\\plugin\\\\PluginGraylist constructor expects array\\<string\\>, mixed given\\.$#"
			count: 1
			path: ../../../src/plugin/PluginGraylist.php

		-
			message: "#^Parameter \\#2 \\$code of class pocketmine\\\\resourcepacks\\\\ResourcePackException constructor expects int, mixed given\\.$#"
			count: 1
			path: ../../../src/resourcepacks/ZippedResourcePack.php

		-
			message: "#^Parameter \\#1 \\$str of function igbinary_unserialize expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/scheduler/AsyncTask.php

		-
			message: "#^Property pocketmine\\\\scheduler\\\\AsyncTask\\:\\:\\$result \\(bool\\|float\\|int\\|string\\|null\\) does not accept mixed\\.$#"
			count: 1
			path: ../../../src/scheduler/AsyncTask.php

		-
			message: "#^Method pocketmine\\\\thread\\\\ThreadManager\\:\\:getAll\\(\\) should return array\\<pocketmine\\\\thread\\\\Thread\\|pocketmine\\\\thread\\\\Worker\\> but returns array\\.$#"
			count: 1
			path: ../../../src/thread/ThreadManager.php

		-
			message: "#^Method pocketmine\\\\timings\\\\TimingsHandler\\:\\:time\\(\\) should return TClosureReturn but returns TClosureReturn\\.$#"
			count: 1
			path: ../../../src/timings/TimingsHandler.php

		-
			message: "#^Parameter \\#1 \\$config of static method pocketmine\\\\utils\\\\Config\\:\\:writeProperties\\(\\) expects array\\<string, bool\\|float\\|int\\|string\\>, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: ../../../src/utils/Config.php

		-
			message: "#^Parameter \\#2 \\$offset of function substr expects int, mixed given\\.$#"
			count: 1
			path: ../../../src/utils/Internet.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, mixed given\\.$#"
			count: 1
			path: ../../../src/utils/Internet.php

		-
			message: "#^Parameter \\#1 \\$path of static method pocketmine\\\\utils\\\\Filesystem\\:\\:cleanPath\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/utils/Utils.php

		-
			message: "#^Parameter \\#1 \\$trace of static method pocketmine\\\\utils\\\\Utils\\:\\:printableTrace\\(\\) expects array\\<int, array\\<string, mixed\\>\\>, array given\\.$#"
			count: 1
			path: ../../../src/utils/Utils.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: ../../../src/utils/Utils.php

		-
			message: "#^Part \\$errno \\(mixed\\) of encapsed string cannot be cast to string\\.$#"
			count: 1
			path: ../../../src/utils/Utils.php

		-
			message: "#^Parameter \\#1 \\$keys of function array_fill_keys expects array, mixed given\\.$#"
			count: 1
			path: ../../../src/world/World.php

		-
			message: "#^Cannot access offset 1 on mixed\\.$#"
			count: 2
			path: ../../../src/world/format/io/region/RegionWorldProvider.php

		-
			message: "#^Cannot access offset 2 on mixed\\.$#"
			count: 2
			path: ../../../src/world/format/io/region/RegionWorldProvider.php

