parameters:
	ignoreErrors:
		#TODO: use custom stubs
		-
			message: "#^Used constant LEVELDB_ZLIB_RAW_COMPRESSION not found\\.$#"
			count: 1
			path: ../../../src/pocketmine/level/format/io/leveldb/LevelDB.php

		-
			message: "#^Constant LEVELDB_ZLIB_RAW_COMPRESSION not found\\.$#"
			count: 1
			path: ../../../src/pocketmine/level/format/io/leveldb/LevelDB.php
