parameters:
	ignoreErrors:
		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: ../../../src/pocketmine/Server.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: ../../../src/pocketmine/Server.php

		-
			message: "#^If condition is always false\\.$#"
			count: 1
			path: ../../../src/pocketmine/updater/AutoUpdater.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: ../../../src/pocketmine/updater/AutoUpdater.php
