parameters:
	ignoreErrors:
		-
			message: "#^Cannot access an offset on Ds\\\\Deque\\<pocketmine\\\\block\\\\utils\\\\BannerPattern\\>\\.$#"
			count: 1
			path: ../../../src/block/tile/Banner.php

		-
			message: "#^Cannot access offset int on Ds\\\\Deque\\<pocketmine\\\\item\\\\WritableBookPage\\>\\.$#"
			count: 2
			path: ../../../src/item/WritableBookBase.php

