parameters:
	ignoreErrors:
		-
			message: "#^Property pocketmine\\\\block\\\\tile\\\\Barrel\\:\\:\\$inventory \\(pocketmine\\\\block\\\\inventory\\\\BarrelInventory\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/block/tile/Barrel.php

		-
			message: "#^Property pocketmine\\\\block\\\\tile\\\\BrewingStand\\:\\:\\$inventory \\(pocketmine\\\\block\\\\inventory\\\\BrewingStandInventory\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/block/tile/BrewingStand.php

		-
			message: "#^Property pocketmine\\\\block\\\\tile\\\\Chest\\:\\:\\$inventory \\(pocketmine\\\\block\\\\inventory\\\\ChestInventory\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/block/tile/Chest.php

		-
			message: "#^Property pocketmine\\\\block\\\\tile\\\\Furnace\\:\\:\\$inventory \\(pocketmine\\\\block\\\\inventory\\\\FurnaceInventory\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/block/tile/Furnace.php

		-
			message: "#^Property pocketmine\\\\block\\\\tile\\\\Hopper\\:\\:\\$inventory \\(pocketmine\\\\block\\\\inventory\\\\HopperInventory\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/block/tile/Hopper.php

		-
			message: "#^Property pocketmine\\\\block\\\\tile\\\\Tile\\:\\:\\$pos \\(pocketmine\\\\world\\\\Position\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/block/tile/Tile.php

		-
			message: "#^Property pocketmine\\\\entity\\\\Entity\\:\\:\\$location \\(pocketmine\\\\entity\\\\Location\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/entity/Entity.php

		-
			message: "#^Property pocketmine\\\\entity\\\\Human\\:\\:\\$inventory \\(pocketmine\\\\inventory\\\\PlayerInventory\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/entity/Human.php

		-
			message: "#^Property pocketmine\\\\entity\\\\Human\\:\\:\\$enderChestInventory \\(pocketmine\\\\block\\\\inventory\\\\EnderChestInventory\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/entity/Human.php

		-
			message: "#^Property pocketmine\\\\entity\\\\Human\\:\\:\\$hungerManager \\(pocketmine\\\\entity\\\\HungerManager\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/entity/Human.php

		-
			message: "#^Property pocketmine\\\\entity\\\\Human\\:\\:\\$xpManager \\(pocketmine\\\\entity\\\\ExperienceManager\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/entity/Human.php

		-
			message: "#^Property pocketmine\\\\entity\\\\Living\\:\\:\\$armorInventory \\(pocketmine\\\\inventory\\\\ArmorInventory\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/entity/Living.php

		-
			message: "#^Property pocketmine\\\\entity\\\\Living\\:\\:\\$effectManager \\(pocketmine\\\\entity\\\\effect\\\\EffectManager\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/entity/Living.php

		-
			message: "#^Property pocketmine\\\\player\\\\Player\\:\\:\\$cursorInventory \\(pocketmine\\\\inventory\\\\PlayerCursorInventory\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/player/Player.php

		-
			message: "#^Property pocketmine\\\\player\\\\Player\\:\\:\\$craftingGrid \\(pocketmine\\\\crafting\\\\CraftingGrid\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/player/Player.php

		-
			message: "#^Property pocketmine\\\\player\\\\Player\\:\\:\\$perm \\(pocketmine\\\\permission\\\\PermissibleBase\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/player/Player.php

		-
			message: "#^Property pocketmine\\\\world\\\\World\\:\\:\\$provider \\(pocketmine\\\\world\\\\format\\\\io\\\\WritableWorldProvider\\) does not accept null\\.$#"
			count: 1
			path: ../../../src/world/World.php

