parameters:
	#checkGenericClassInNonGenericObjectType: true
	#checkMissingIterableValueType: true
	checkMissingVarTagTypehint: true
	checkMissingTypehints: true

rules:
	- PHPStan\Rules\Functions\MissingFunctionParameterTypehintRule
	- PHPStan\Rules\Functions\MissingFunctionReturnTypehintRule
	- PHPStan\Rules\Methods\MissingMethodParameterTypehintRule
	#- PHPStan\Rules\Methods\MissingMethodReturnTypehintRule
	- PHPStan\Rules\Properties\MissingPropertyTypehintRule
