parameters:
	ignoreErrors:
		-
			message: '#^Method pocketmine\\event\\RegisteredListener\:\:__construct\(\) has parameter \$handler with no signature specified for Closure\.$#'
			identifier: missingType.callable
			count: 1
			path: ../../../src/event/AsyncRegisteredListener.php

		-
			message: '#^Method pocketmine\\event\\RegisteredListener\:\:getHandler\(\) return type has no signature specified for Closure\.$#'
			identifier: missingType.callable
			count: 1
			path: ../../../src/event/BaseRegisteredListener.php

		-
			message: "#^Method pocketmine\\\\event\\\\BaseRegisteredListener\\:\\:getHandler\\(\\) return type has no signature specified for Closure\\.$#"
			identifier: missingType.callable
			count: 1
			path: ../../../src/event/BaseRegisteredListener.php

		-
			message: '#^Parameter \#2 \$parentList of class pocketmine\\event\\HandlerList constructor expects static\(pocketmine\\event\\HandlerList\<pocketmine\\event\\AsyncRegisteredListener\>\)\|null, pocketmine\\event\\HandlerList\<pocketmine\\event\\AsyncRegisteredListener\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: ../../../src/event/AsyncHandlerListManager.php

		-
			message: '#^Method pocketmine\\event\\AsyncRegisteredListener\:\:__construct\(\) has parameter \$handler with no signature specified for Closure\.$#'
			identifier: missingType.callable
			count: 1
			path: ../../../src/event/AsyncRegisteredListener.php

		-
			message: '#^Method pocketmine\\event\\BaseRegisteredListener\:\:__construct\(\) has parameter \$handler with no signature specified for Closure\.$#'
			identifier: missingType.callable
			count: 1
			path: ../../../src/event/BaseRegisteredListener.php

		-
			message: '#^Parameter \#2 \$parentList of class pocketmine\\event\\HandlerList constructor expects static\(pocketmine\\event\\HandlerList\<pocketmine\\event\\RegisteredListener\>\)\|null, pocketmine\\event\\HandlerList\<pocketmine\\event\\RegisteredListener\>\|null given\.$#'
			identifier: argument.type
			count: 1
			path: ../../../src/event/HandlerListManager.php

