parameters:
	ignoreErrors:
		-
			message: "#^Method pocketmine\\\\event\\\\RegisteredListener\\:\\:__construct\\(\\) has parameter \\$handler with no signature specified for Closure\\.$#"
			count: 1
			path: ../../../src/event/RegisteredListener.php

		-
			message: "#^Method pocketmine\\\\event\\\\RegisteredListener\\:\\:getHandler\\(\\) return type has no signature specified for Closure\\.$#"
			count: 1
			path: ../../../src/event/RegisteredListener.php

