parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getTile\\(\\) on pocketmine\\\\level\\\\Level\\|null\\.$#"
			count: 1
			path: src/pocketmine/Player.php

		-
			message: "#^Cannot call method dropItem\\(\\) on pocketmine\\\\level\\\\Level\\|null\\.$#"
			count: 1
			path: src/pocketmine/Player.php

		-
			message: "#^Parameter \\#2 \\$delim_char of function preg_quote expects string, string\\|null given\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#1 \\$strings of function preg_quote_array expects array\\<string\\>, array\\<int, string\\|false\\> given\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'name' on mixed\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'version' on mixed\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'main' on mixed\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'api' on mixed\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'depend' on mixed\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'description' on mixed\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'authors' on mixed\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'website' on mixed\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, array\\<int, mixed\\>\\|string\\|false given\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#1 \\$str of function rtrim expects string, string\\|false given\\.$#"
			count: 2
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#1 \\$path of function realpath expects string, array\\<int, mixed\\>\\|string\\|false given\\.$#"
			count: 2
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Binary operation \"\\.\" between string and array\\<int, mixed\\>\\|string\\|false results in an error\\.$#"
			count: 2
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<int, mixed\\>\\|string\\|false given\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#1 \\$pharPath of function buildPhar expects string, array\\<int, mixed\\>\\|string\\|false given\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Used constant DEVTOOLS_PLUGIN_STUB not found\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/DevTools.php

		-
			message: "#^Used constant DEVTOOLS_REQUIRE_FILE_STUB not found\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/DevTools.php

		-
			message: "#^Parameter \\#1 \\$str of function rtrim expects string, mixed given\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/DevTools.php

		-
			message: "#^Constant DEVTOOLS_REQUIRE_FILE_STUB not found\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/DevTools.php

		-
			message: "#^Constant DEVTOOLS_PLUGIN_STUB not found\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/DevTools.php

		-
			message: "#^Parameter \\#1 \\$str of function rtrim expects string, mixed given\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/commands/ExtractPluginCommand.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, string\\|false given\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/DevTools/commands/GeneratePluginCommand.php

		-
			message: "#^Parameter \\#1 \\$yamlString of class pocketmine\\\\plugin\\\\PluginDescription constructor expects array\\|string, string\\|false given\\.$#"
			count: 1
			path: tests/plugins/DevTools/src/FolderPluginLoader/FolderPluginLoader.php

		-
			message: "#^Parameter \\#2 \\$delim_char of function preg_quote expects string, string\\|null given\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Function buildPhar\\(\\) has parameter \\$metadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#1 \\$strings of function preg_quote_array expects array\\<string\\>, array\\<int, string\\|false\\> given\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Function generatePluginMetadataFromYml\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'name' on mixed\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'version' on mixed\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'main' on mixed\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'api' on mixed\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'depend' on mixed\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'description' on mixed\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'authors' on mixed\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Cannot access offset 'website' on mixed\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, array\\<int, mixed\\>\\|string\\|false given\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Anonymous function should have native return typehint \"void\"\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#1 \\$str of function rtrim expects string, string\\|false given\\.$#"
			count: 2
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#1 \\$path of function realpath expects string, array\\<int, mixed\\>\\|string\\|false given\\.$#"
			count: 2
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Binary operation \"\\.\" between string and array\\<int, mixed\\>\\|string\\|false results in an error\\.$#"
			count: 2
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\<int, mixed\\>\\|string\\|false given\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Parameter \\#1 \\$pharPath of function buildPhar expects string, array\\<int, mixed\\>\\|string\\|false given\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/ConsoleScript.php

		-
			message: "#^Used constant DEVTOOLS_PLUGIN_STUB not found\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/DevTools.php

		-
			message: "#^Used constant DEVTOOLS_REQUIRE_FILE_STUB not found\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/DevTools.php

		-
			message: "#^Method DevTools\\\\DevTools\\:\\:permissionCheckCommand\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/DevTools.php

		-
			message: "#^Method DevTools\\\\DevTools\\:\\:makePluginCommand\\(\\) has parameter \\$args with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/DevTools.php

		-
			message: "#^Constant DEVTOOLS_REQUIRE_FILE_STUB not found\\.$#"
			count: 2
			path: tests/plugins/PocketMine-DevTools/src/DevTools/DevTools.php

		-
			message: "#^Constant DEVTOOLS_PLUGIN_STUB not found\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/DevTools.php

		-
			message: "#^Parameter \\#1 \\$str of function rtrim expects string, mixed given\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/DevTools.php

		-
			message: "#^Method DevTools\\\\DevTools\\:\\:buildPhar\\(\\) has parameter \\$includedPaths with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/DevTools.php

		-
			message: "#^Method DevTools\\\\DevTools\\:\\:buildPhar\\(\\) has parameter \\$metadata with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/DevTools.php

		-
			message: "#^Parameter \\#1 \\$str of function rtrim expects string, mixed given\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/DevTools/commands/ExtractPluginCommand.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, string\\|false given\\.$#"
			count: 2
			path: tests/plugins/PocketMine-DevTools/src/DevTools/commands/GeneratePluginCommand.php

		-
			message: "#^Parameter \\#1 \\$yamlString of class pocketmine\\\\plugin\\\\PluginDescription constructor expects array\\|string, string\\|false given\\.$#"
			count: 1
			path: tests/plugins/PocketMine-DevTools/src/FolderPluginLoader/FolderPluginLoader.php

		-
			message: "#^Parameter \\#1 \\$path of function realpath expects string, array\\<int, mixed\\>\\|string\\|false given\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Function process\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Function process\\(\\) has parameter \\$code with no typehint specified\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Function process\\(\\) has parameter \\$extraDefine with no value type specified in iterable type array\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Parameter \\#1 \\$str of function trim expects string, string\\|false given\\.$#"
			count: 2
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Parameter \\#2 \\$str of function fwrite expects string, string\\|false given\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Parameter \\#1 \\$process of function proc_close expects resource, resource\\|false given\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Parameter \\#1 \\$haystack of function strpos expects string, string\\|false given\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|false given\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Parameter \\#2 \\$start of function substr expects int, int\\<0, max\\>\\|false given\\.$#"
			count: 2
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Argument of an invalid type array\\<int, string\\>\\|false supplied for foreach, only iterables are supported\\.$#"
			count: 2
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Parameter \\#2 \\$pieces of function implode expects array, array\\<int, string\\>\\|false given\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Foreach overwrites \\$path with its key variable\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Parameter \\#1 \\$directory of class RecursiveDirectoryIterator constructor expects string, string\\|false given\\.$#"
			count: 1
			path: tests/preprocessor/PreProcessor.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, string\\|false given\\.$#"
			count: 3
			path: tests/preprocessor/PreProcessor.php

