parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../../build/make-release.php

		-
			message: "#^Parameter \\#1 \\$constraint of method pocketmine\\\\block\\\\BaseRail\\:\\:getPossibleConnectionDirectionsOneConstraint\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/block/BaseRail.php

		-
			message: "#^Cannot call method setFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/block/Block.php

		-
			message: "#^Parameter \\#1 \\$x of class pocketmine\\\\math\\\\Vector3 constructor expects float\\|int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/block/tile/Chest.php

		-
			message: "#^Parameter \\#1 \\$x of method pocketmine\\\\world\\\\World\\:\\:getTileAt\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/block/tile/Chest.php

		-
			message: "#^Parameter \\#2 \\$value of method pocketmine\\\\nbt\\\\tag\\\\CompoundTag\\:\\:setInt\\(\\) expects int, int\\|null given\\.$#"
			count: 4
			path: ../../../src/block/tile/Chest.php

		-
			message: "#^Parameter \\#3 \\$z of class pocketmine\\\\math\\\\Vector3 constructor expects float\\|int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/block/tile/Chest.php

		-
			message: "#^Parameter \\#3 \\$z of method pocketmine\\\\world\\\\World\\:\\:getTileAt\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/block/tile/Chest.php

		-
			message: "#^Parameter \\#2 \\$replace of function str_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: ../../../src/command/Command.php

		-
			message: "#^Cannot call method startTiming\\(\\) on pocketmine\\\\timings\\\\TimingsHandler\\|null\\.$#"
			count: 1
			path: ../../../src/command/SimpleCommandMap.php

		-
			message: "#^Cannot call method stopTiming\\(\\) on pocketmine\\\\timings\\\\TimingsHandler\\|null\\.$#"
			count: 1
			path: ../../../src/command/SimpleCommandMap.php

		-
			message: "#^Cannot call method addParticle\\(\\) on pocketmine\\\\world\\\\World\\|null\\.$#"
			count: 1
			path: ../../../src/command/defaults/ParticleCommand.php

		-
			message: "#^Cannot call method getSeed\\(\\) on pocketmine\\\\world\\\\World\\|null\\.$#"
			count: 1
			path: ../../../src/command/defaults/SeedCommand.php

		-
			message: "#^Cannot call method setSpawnLocation\\(\\) on pocketmine\\\\world\\\\World\\|null\\.$#"
			count: 1
			path: ../../../src/command/defaults/SetWorldSpawnCommand.php

		-
			message: "#^Cannot call method getTime\\(\\) on pocketmine\\\\world\\\\World\\|null\\.$#"
			count: 1
			path: ../../../src/command/defaults/TimeCommand.php

		-
			message: "#^Parameter \\#2 \\$recipe of class pocketmine\\\\event\\\\inventory\\\\CraftItemEvent constructor expects pocketmine\\\\crafting\\\\CraftingRecipe, pocketmine\\\\crafting\\\\CraftingRecipe\\|null given\\.$#"
			count: 1
			path: ../../../src/inventory/transaction/CraftingTransaction.php

		-
			message: "#^Parameter \\#3 \\$repetitions of class pocketmine\\\\event\\\\inventory\\\\CraftItemEvent constructor expects int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/inventory/transaction/CraftingTransaction.php

		-
			message: "#^Cannot call method doFirstSpawn\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Cannot call method getLanguage\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Cannot call method getLocation\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 2
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Cannot call method getUsedChunkStatus\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Cannot call method getUsername\\(\\) on pocketmine\\\\player\\\\PlayerInfo\\|null\\.$#"
			count: 2
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Cannot call method getUuid\\(\\) on pocketmine\\\\player\\\\PlayerInfo\\|null\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Cannot call method sendData\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Cannot call method setImmobile\\(\\) on pocketmine\\\\player\\\\Player\\|null\\.$#"
			count: 2
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Cannot call method syncAll\\(\\) on pocketmine\\\\network\\\\mcpe\\\\InventoryManager\\|null\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Cannot call method syncCreative\\(\\) on pocketmine\\\\network\\\\mcpe\\\\InventoryManager\\|null\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#1 \\$clientPub of class pocketmine\\\\network\\\\mcpe\\\\encryption\\\\PrepareEncryptionTask constructor expects string, string\\|null given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#1 \\$entity of method pocketmine\\\\network\\\\mcpe\\\\NetworkSession\\:\\:onEntityEffectAdded\\(\\) expects pocketmine\\\\entity\\\\Living, pocketmine\\\\player\\\\Player\\|null given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#1 \\$entity of method pocketmine\\\\network\\\\mcpe\\\\NetworkSession\\:\\:onEntityEffectRemoved\\(\\) expects pocketmine\\\\entity\\\\Living, pocketmine\\\\player\\\\Player\\|null given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#1 \\$for of method pocketmine\\\\network\\\\mcpe\\\\NetworkSession\\:\\:syncAdventureSettings\\(\\) expects pocketmine\\\\player\\\\Player, pocketmine\\\\player\\\\Player\\|null given\\.$#"
			count: 3
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#1 \\$player of class pocketmine\\\\network\\\\mcpe\\\\handler\\\\DeathPacketHandler constructor expects pocketmine\\\\player\\\\Player, pocketmine\\\\player\\\\Player\\|null given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#1 \\$player of class pocketmine\\\\network\\\\mcpe\\\\handler\\\\InGamePacketHandler constructor expects pocketmine\\\\player\\\\Player, pocketmine\\\\player\\\\Player\\|null given\\.$#"
			count: 2
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#1 \\$target of method pocketmine\\\\command\\\\Command\\:\\:testPermissionSilent\\(\\) expects pocketmine\\\\command\\\\CommandSender, pocketmine\\\\player\\\\Player\\|null given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#2 \\$player of class pocketmine\\\\network\\\\mcpe\\\\handler\\\\PreSpawnPacketHandler constructor expects pocketmine\\\\player\\\\Player, pocketmine\\\\player\\\\Player\\|null given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#2 \\$playerInfo of method pocketmine\\\\Server\\:\\:createPlayer\\(\\) expects pocketmine\\\\player\\\\PlayerInfo, pocketmine\\\\player\\\\PlayerInfo\\|null given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#3 \\$inventoryManager of class pocketmine\\\\network\\\\mcpe\\\\handler\\\\InGamePacketHandler constructor expects pocketmine\\\\network\\\\mcpe\\\\InventoryManager, pocketmine\\\\network\\\\mcpe\\\\InventoryManager\\|null given\\.$#"
			count: 2
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Parameter \\#4 \\$inventoryManager of class pocketmine\\\\network\\\\mcpe\\\\handler\\\\PreSpawnPacketHandler constructor expects pocketmine\\\\network\\\\mcpe\\\\InventoryManager, pocketmine\\\\network\\\\mcpe\\\\InventoryManager\\|null given\\.$#"
			count: 1
			path: ../../../src/network/mcpe/NetworkSession.php

		-
			message: "#^Method pocketmine\\\\permission\\\\DefaultPermissions\\:\\:registerPermission\\(\\) should return pocketmine\\\\permission\\\\Permission but returns pocketmine\\\\permission\\\\Permission\\|null\\.$#"
			count: 1
			path: ../../../src/permission/DefaultPermissions.php

		-
			message: "#^Cannot call method getEntities\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/player/Player.php

		-
			message: "#^Cannot call method getSpawnLocation\\(\\) on pocketmine\\\\world\\\\World\\|null\\.$#"
			count: 1
			path: ../../../src/player/Player.php

		-
			message: "#^Method pocketmine\\\\player\\\\Player\\:\\:getSpawn\\(\\) should return pocketmine\\\\world\\\\Position but returns pocketmine\\\\world\\\\Position\\|null\\.$#"
			count: 1
			path: ../../../src/player/Player.php

		-
			message: "#^Method pocketmine\\\\plugin\\\\PluginBase\\:\\:getConfig\\(\\) should return pocketmine\\\\utils\\\\Config but returns pocketmine\\\\utils\\\\Config\\|null\\.$#"
			count: 1
			path: ../../../src/plugin/PluginBase.php

		-
			message: "#^Cannot call method addChild\\(\\) on pocketmine\\\\permission\\\\Permission\\|null\\.$#"
			count: 4
			path: ../../../src/plugin/PluginManager.php

		-
			message: "#^Cannot call method count\\(\\) on ArrayObject\\<int, array\\<string, mixed\\>\\>\\|null\\.$#"
			count: 1
			path: ../../../src/scheduler/AsyncTask.php

		-
			message: "#^Cannot call method getNotifier\\(\\) on pocketmine\\\\scheduler\\\\AsyncWorker\\|null\\.$#"
			count: 1
			path: ../../../src/scheduler/AsyncTask.php

		-
			message: "#^Cannot call method handleException\\(\\) on pocketmine\\\\scheduler\\\\AsyncWorker\\|null\\.$#"
			count: 1
			path: ../../../src/scheduler/AsyncTask.php

		-
			message: "#^Cannot call method getAsyncWorkerId\\(\\) on pocketmine\\\\scheduler\\\\AsyncWorker\\|null\\.$#"
			count: 1
			path: ../../../src/scheduler/DumpWorkerMemoryTask.php

		-
			message: "#^Cannot call method getLogger\\(\\) on pocketmine\\\\scheduler\\\\AsyncWorker\\|null\\.$#"
			count: 1
			path: ../../../src/scheduler/DumpWorkerMemoryTask.php

		-
			message: "#^Cannot access property \\$date on pocketmine\\\\updater\\\\UpdateInfo\\|null\\.$#"
			count: 1
			path: ../../../src/updater/AutoUpdater.php

		-
			message: "#^Cannot access property \\$details_url on pocketmine\\\\updater\\\\UpdateInfo\\|null\\.$#"
			count: 1
			path: ../../../src/updater/AutoUpdater.php

		-
			message: "#^Cannot access property \\$download_url on pocketmine\\\\updater\\\\UpdateInfo\\|null\\.$#"
			count: 1
			path: ../../../src/updater/AutoUpdater.php

		-
			message: "#^Cannot call method getFullVersion\\(\\) on pocketmine\\\\utils\\\\VersionString\\|null\\.$#"
			count: 1
			path: ../../../src/updater/AutoUpdater.php

		-
			message: "#^Method pocketmine\\\\utils\\\\Config\\:\\:fixYAMLIndexes\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: ../../../src/utils/Config.php

		-
			message: "#^Method pocketmine\\\\utils\\\\Utils\\:\\:printable\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: ../../../src/utils/Utils.php

		-
			message: "#^Cannot call method getFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\SubChunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/Explosion.php

		-
			message: "#^Only numeric types are allowed in /, float\\|null given on the left side\\.$#"
			count: 1
			path: ../../../src/world/Explosion.php

		-
			message: "#^Cannot call method getEntities\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 3
			path: ../../../src/world/World.php

		-
			message: "#^Parameter \\#3 \\$chunk of method pocketmine\\\\player\\\\Player\\:\\:onChunkChanged\\(\\) expects pocketmine\\\\world\\\\format\\\\Chunk, pocketmine\\\\world\\\\format\\\\Chunk\\|null given\\.$#"
			count: 1
			path: ../../../src/world/World.php

		-
			message: "#^Method pocketmine\\\\world\\\\biome\\\\BiomeRegistry\\:\\:getBiome\\(\\) should return pocketmine\\\\world\\\\biome\\\\Biome but returns pocketmine\\\\world\\\\biome\\\\Biome\\|null\\.$#"
			count: 1
			path: ../../../src/world/biome/BiomeRegistry.php

		-
			message: "#^Method pocketmine\\\\world\\\\format\\\\Chunk\\:\\:getSubChunk\\(\\) should return pocketmine\\\\world\\\\format\\\\SubChunk but returns pocketmine\\\\world\\\\format\\\\SubChunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/format/Chunk.php

		-
			message: "#^Method pocketmine\\\\world\\\\format\\\\HeightArray\\:\\:get\\(\\) should return int but returns int\\|null\\.$#"
			count: 1
			path: ../../../src/world/format/HeightArray.php

		-
			message: "#^Cannot call method isDirty\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/generator/PopulationTask.php

		-
			message: "#^Cannot call method setDirtyFlag\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 4
			path: ../../../src/world/generator/PopulationTask.php

		-
			message: "#^Cannot call method setPopulated\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/generator/PopulationTask.php

		-
			message: "#^Parameter \\#1 \\$chunk of static method pocketmine\\\\world\\\\format\\\\io\\\\FastChunkSerializer\\:\\:serializeWithoutLight\\(\\) expects pocketmine\\\\world\\\\format\\\\Chunk, pocketmine\\\\world\\\\format\\\\Chunk\\|null given\\.$#"
			count: 2
			path: ../../../src/world/generator/PopulationTask.php

		-
			message: "#^Method pocketmine\\\\world\\\\generator\\\\biome\\\\BiomeSelector\\:\\:pickBiome\\(\\) should return pocketmine\\\\world\\\\biome\\\\Biome but returns pocketmine\\\\world\\\\biome\\\\Biome\\|null\\.$#"
			count: 1
			path: ../../../src/world/generator/biome/BiomeSelector.php

		-
			message: "#^Cannot call method getBiomeId\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/generator/hell/Nether.php

		-
			message: "#^Cannot call method setBiomeId\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/generator/hell/Nether.php

		-
			message: "#^Cannot call method setFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 3
			path: ../../../src/world/generator/hell/Nether.php

		-
			message: "#^Cannot call method getBiomeId\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/generator/normal/Normal.php

		-
			message: "#^Cannot call method setBiomeId\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/generator/normal/Normal.php

		-
			message: "#^Cannot call method setFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 3
			path: ../../../src/world/generator/normal/Normal.php

		-
			message: "#^Cannot call method getBiomeId\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/generator/populator/GroundCover.php

		-
			message: "#^Cannot call method getFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 2
			path: ../../../src/world/generator/populator/GroundCover.php

		-
			message: "#^Cannot call method setFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/generator/populator/GroundCover.php

		-
			message: "#^Cannot call method getBlockLightArray\\(\\) on pocketmine\\\\world\\\\format\\\\SubChunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/light/BlockLightUpdate.php

		-
			message: "#^Cannot call method getFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\SubChunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/light/BlockLightUpdate.php

		-
			message: "#^Cannot call method getSubChunks\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/light/BlockLightUpdate.php

		-
			message: "#^Only numeric types are allowed in \\-, int\\|null given on the right side\\.$#"
			count: 1
			path: ../../../src/world/light/BlockLightUpdate.php

		-
			message: "#^Parameter \\#4 \\$newLevel of method pocketmine\\\\world\\\\light\\\\LightUpdate\\:\\:setAndUpdateLight\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: ../../../src/world/light/BlockLightUpdate.php

		-
			message: "#^Cannot call method getFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\SubChunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/light/LightUpdate.php

		-
			message: "#^Only numeric types are allowed in \\-, int\\|null given on the right side\\.$#"
			count: 1
			path: ../../../src/world/light/LightUpdate.php

		-
			message: "#^Cannot call method getBlockSkyLightArray\\(\\) on pocketmine\\\\world\\\\format\\\\SubChunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Cannot call method getFullBlock\\(\\) on pocketmine\\\\world\\\\format\\\\SubChunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Cannot call method getHeightMap\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 6
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Cannot call method getHeightMapArray\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Cannot call method getSubChunk\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 2
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Cannot call method getSubChunks\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Cannot call method setHeightMap\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 2
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Cannot call method setHeightMapArray\\(\\) on pocketmine\\\\world\\\\format\\\\Chunk\\|null\\.$#"
			count: 1
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Only booleans are allowed in an if condition, bool\\|null given\\.$#"
			count: 3
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Only numeric types are allowed in \\+, int\\|false given on the left side\\.$#"
			count: 1
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Only numeric types are allowed in \\-, int\\|null given on the right side\\.$#"
			count: 1
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Parameter \\#1 \\$chunk of static method pocketmine\\\\world\\\\light\\\\SkyLightUpdate\\:\\:recalculateHeightMap\\(\\) expects pocketmine\\\\world\\\\format\\\\Chunk, pocketmine\\\\world\\\\format\\\\Chunk\\|null given\\.$#"
			count: 1
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Parameter \\#1 \\$chunk of static method pocketmine\\\\world\\\\light\\\\SkyLightUpdate\\:\\:recalculateHeightMapColumn\\(\\) expects pocketmine\\\\world\\\\format\\\\Chunk, pocketmine\\\\world\\\\format\\\\Chunk\\|null given\\.$#"
			count: 1
			path: ../../../src/world/light/SkyLightUpdate.php

		-
			message: "#^Property pocketmine\\\\event\\\\HandlerListManagerTest\\:\\:\\$isValidFunc \\(Closure\\(ReflectionClass\\<pocketmine\\\\event\\\\Event\\>\\)\\: bool\\) does not accept Closure\\|null\\.$#"
			count: 1
			path: ../../phpunit/event/HandlerListManagerTest.php

		-
			message: "#^Property pocketmine\\\\event\\\\HandlerListManagerTest\\:\\:\\$resolveParentFunc \\(Closure\\(ReflectionClass\\<pocketmine\\\\event\\\\Event\\>\\)\\: ReflectionClass\\<pocketmine\\\\event\\\\Event\\>\\|null\\) does not accept Closure\\|null\\.$#"
			count: 1
			path: ../../phpunit/event/HandlerListManagerTest.php

