parameters:
	ignoreErrors:
		-
			message: "#^Instantiated class COM not found\\.$#"
			count: 1
			path: ../../../src/network/upnp/UPnP.php

		-
			message: "#^Access to property \\$StaticPortMappingCollection on an unknown class COM\\.$#"
			count: 2
			path: ../../../src/network/upnp/UPnP.php

		-
			message: "#^Caught class com_exception not found\\.$#"
			count: 2
			path: ../../../src/network/upnp/UPnP.php

		-
			message: "#^Call to method getMessage\\(\\) on an unknown class com_exception\\.$#"
			count: 1
			path: ../../../src/network/upnp/UPnP.php
