parameters:
	ignoreErrors:
		-
			message: "#^Method ReflectionMethod\\:\\:getClosure\\(\\) invoked with 0 parameters, 1 required\\.$#"
			count: 1
			path: ../../phpunit/network/mcpe/StupidJsonDecodeTest.php

		-
			message: "#^Property pocketmine\\\\network\\\\mcpe\\\\StupidJsonDecodeTest\\:\\:\\$stupidJsonDecodeFunc \\(Closure\\(string, bool\\)\\: mixed\\) does not accept Closure\\|null\\.$#"
			count: 1
			path: ../../phpunit/network/mcpe/StupidJsonDecodeTest.php

