parameters:
	ignoreErrors:
		-
			message: "#^Property pocketmine\\\\network\\\\mcpe\\\\handler\\\\StupidJsonDecodeTest\\:\\:\\$stupidJsonDecodeFunc \\(Closure\\(string, bool\\=\\)\\: mixed\\) does not accept Closure\\|null\\.$#"
			count: 1
			path: ../../phpunit/network/mcpe/handler/StupidJsonDecodeTest.php
