parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$fp of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../../src/MemoryManager.php

		-
			message: "#^Parameter \\#1 \\$fp of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../../src/MemoryManager.php

		-
			message: "#^Parameter \\#1 \\$str of function strtolower expects string, mixed given\\.$#"
			count: 1
			path: ../../../src/ServerConfigGroup.php

		-
			message: "#^Parameter \\#1 \\$fp of function fclose expects resource, resource\\|false given\\.$#"
			count: 2
			path: ../../../src/command/defaults/TimingsCommand.php

		-
			message: "#^Parameter \\#1 \\$fp of function fseek expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../../src/command/defaults/TimingsCommand.php

		-
			message: "#^Parameter \\#1 \\$fp of function fwrite expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../../src/command/defaults/TimingsCommand.php

		-
			message: "#^Parameter \\#1 \\$source of function stream_get_contents expects resource, resource\\|false given\\.$#"
			count: 1
			path: ../../../src/command/defaults/TimingsCommand.php

		-
			message: "#^Parameter \\#1 \\$argument of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: ../../../src/event/HandlerListManager.php

		-
			message: "#^Parameter \\#2 \\$input1 of function array_map expects array, array\\|false given\\.$#"
			count: 1
			path: ../../../src/lang/Language.php

		-
			message: "#^Parameter \\#2 \\$start of function substr expects int, mixed given\\.$#"
			count: 1
			path: ../../../src/utils/Internet.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int, mixed given\\.$#"
			count: 1
			path: ../../../src/utils/Internet.php

		-
			message: "#^Parameter \\#1 \\$timezone_identifier of function date_default_timezone_set expects string, string\\|false given\\.$#"
			count: 1
			path: ../../../src/utils/Timezone.php

		-
			message: "#^Parameter \\#2 \\$input1 of function array_map expects array, mixed given\\.$#"
			count: 1
			path: ../../../src/utils/Utils.php

