parameters:
	ignoreErrors:
		- "#^Call to function is_resource\\(\\) with resource will always evaluate to true\\.$#"
		-
			message: "#^Default value of the parameter \\#\\d+ \\$[A-Za-z\\d_]+ \\(\\-?\\d+\\) of method .+\\(\\) is incompatible with type float\\.$#"
			path: ../../../src

		-
			message: "#^Cannot access an offset on Threaded\\.$#"
			path: ../../../src

		-
			message: "#^Cannot assign new offset to Threaded\\.$#"
			path: ../../../src

		-
			message: "#^Offset string does not exist on array\\(\\)\\.$#"
			count: 3
			path: ../../../src/pocketmine/MemoryManager.php

		-
			message: "#^Offset \\(int\\|string\\) does not exist on array\\(\\)\\.$#"
			count: 1
			path: ../../../src/pocketmine/MemoryManager.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 0 and 2 is always false\\.$#"
			count: 1
			path: ../../../src/pocketmine/block/Liquid.php

		-
			#adjacentSources comparison FP
			message: "#^If condition is always false\\.$#"
			count: 1
			path: ../../../src/pocketmine/block/Liquid.php

		-
			#readline() may return false
			message: "#^Strict comparison using \\!\\=\\= between string and false will always evaluate to true\\.$#"
			count: 1
			path: ../../../src/pocketmine/command/CommandReader.php

		-
			#generics corruption, this might show up in other forms too
			message: "#^Parameter \\#1 \\$offset \\(int\\) of method pocketmine\\\\entity\\\\AttributeMap\\:\\:offsetGet\\(\\) should be contravariant with parameter \\$offset \\(mixed\\) of method ArrayAccess\\<int,float\\>\\:\\:offsetGet\\(\\)$#"
			count: 1
			path: ../../../src/pocketmine/entity/AttributeMap.php

		-
			message: "#^Call to function assert\\(\\) with false and 'unknown hit type' will always evaluate to false\\.$#"
			count: 1
			path: ../../../src/pocketmine/entity/projectile/Projectile.php

		-
			message: "#^Call to function method_exists\\(\\) with pocketmine\\\\network\\\\mcpe\\\\CachedEncapsulatedPacket and '__toString' will always evaluate to true\\.$#"
			count: 1
			path: ../../../src/pocketmine/network/mcpe/protocol/DataPacket.php

		-
			#phpstan doesn't understand that SplFixedArray may contain null
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNotNull\\(\\) with int and string will always evaluate to true\\.$#"
			count: 1
			path: ../../../tests/phpunit/block/BlockTest.php
