parameters:
	ignoreErrors:
		- "#^Call to function is_resource\\(\\) with resource will always evaluate to true\\.$#"
		-
			message: "#^Default value of the parameter \\#\\d+ \\$[A-Za-z\\d_]+ \\(\\-?\\d+\\) of method .+\\(\\) is incompatible with type float\\.$#"
			path: ../../../src