parameters:
	ignoreErrors:
		-
			message: "#^Casting to int something that's already int\\.$#"
			count: 2
			path: ../../../src/pocketmine/item/Item.php

		-
			message: "#^Call to function is_array\\(\\) with array\\<string, mixed\\> will always evaluate to true\\.$#"
			count: 1
			path: ../../../src/pocketmine/plugin/PluginManager.php

